# Ignore virtual environment and cache directories
.venv/
__pycache__/

# Ignore everything in Processed_data by default
Processed_data/**
Raw_data/**

# Allow the main Processed_data directory
!Processed_data/
!Raw_data/

# Allow specific subdirectories
!Processed_data/Videos/
!Processed_data/Gifs/
!Raw_data/Gifs/

# Allow only example files in those subdirectories
!Processed_data/Videos/example_analysis.mp4
!Processed_data/Gifs/example_analysis.gif
!Raw_data/Gifs/example_analysis.gif
